@charset "UTF-8";

#listWrapper{
}

#mostList{
	background-color: silver;
	float: left;
	width: 260px;
	margin-right: 5.5px;
}

.mostItem{
	border: 1px solid black;
}

.mostItem div img{
	border-radius: 100px;
	width: 50px;
	height: 50px;
}

.mostItem  .mostFace,.mostName,.mostKda,.mostRate{
	vertical-align:middle;
	align-content:center;
	margin-bottom:10px;
	display: inline-block;
/* 	margin-right: 10px; */
}

#mostList b{
	font-size: 12px
}

.smallTxt{
	font-size: 11px;
}

#matchList{
	float: left;
	width: 1000px;
}

#summary{
	margin-bottom : 10px;
	width: 100%;
	height: 200px;
	text-align: center;
	border: 1px solid black;
}

#record{
	display:inline-block;
	width: 350px;
	height: 100%;
	border: 1px solid black;
}

#chart{
	display:inline-block;
	width: 55%;
	height: 100%;
	float: left;
}

#avg{
	display:inline;
	width: 45%;
	height: 100%;
	float:left;
}

#avg div{
	margin-top: 20px;
	margin-bottom: 20px;
}

#most3{
	display:inline-block;
	width: 350px;
	height: 100%;
	border: 1px solid black;
}

#gameType{
	text-align: center;
	display: flex;
	border: 1px solid black;
	margin-bottom: 5px;
	background-color: white;
}

#gameType a{
	margin-left: auto;
	margin-right: auto;
	
}

.matchItem{
	height: 120px;
	background-color: #a3cfec;
	margin-bottom: 20px;
	border: 1px solid black;
}

.matchItem div{
	margin-right: 10px;
}

.matchinfo{
	display:inline-block;
	border: 1px;
	width: 80px;
	height:100%;
	float: left;
	vertical-align: middle;
}

.mostName{
	width: 60px;
}

.mostKda{
	width: 70px;
}

.mostRate{
	width: 30px
}

.matchinfo div{
	text-align: center;
	height: 30%;
	margin-top: 3px;
}
.matchItem .face {
	display:inline-block;
	height: 100%;
	float:left;
	line-height: 100px;
}

.matchItem .face img{
	width: 75px;
	height: 75px;
	border-radius: 100px;
	vertical-align: middle;
}

.spells{
	display:inline-block;
	height: 100%;
	float: left;
	padding-top: 10px;
}

.spells img{
	width: 40px;
	height: 40px;
}

.rune{
	display:inline-block;
	height: 100%;
	float: left;
	padding-top: 10px;
}

.rune img{
	width: 40px;
	height: 40px;
}

.kda{
	display:flex;
	width: 100px;
	height: 100%;
	float: left;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	size: 20px;
	flex-wrap: wrap;
}

.stats{
	display:inline-block;
	width: 100px;
	height: 100%;
	float: left;
	font-weight: bolder;
	padding-top:10px;
	size: 20px;
}

.stats div{
	text-align: center;
}

.items{
	float:left;
	width: 100px;
	height:100%;
}

.items table{
	width: 100%;
	height:100%;
	text-align: center;
}

.items table td{
	border: 3px;
}

.items table td img{
	width: 30px;
	height: 30px;
}

.accessory{
	display:inline-block;
	height: 100%;
	float:left;
	line-height: 100px;
}

.accessory img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.team{
	float: left;
}

.team img{
	width: 20px;
	height: 20px;
}

.friendly,.enemy{
	float: left;
}

.showMore{
	display:inline-block;
	height: 100%;
	float:right;
	width : 50px;
	line-height: 100px;
}

.showMore input{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
