@charset "UTF-8";

#listWrapper{
}

#mostList{
	background-color: silver;
	float: left;
	width: 260px;
	margin-right: 5.5px;
}

.mostItem div img{
	border-radius: 100px;
	width: 50px;
	height: 50px;
}

.mostItem  .face,.name,.kda,.rate{
	vertical-align:middle;
	align-content:center;
	margin-bottom:10px;
	display: inline-block;
/* 	margin-right: 10px; */
}

#mostList b{
	font-size: 12px
}

.smallTxt{
	font-size: 11px;
}

#matchList{
	background-color:gray;
	float: left;
	width: 1000px;
}

#gameType{
	align-content: center;
	display: flex;
}

#gameType a{
	margin-left: 10px;
	margin-right: 10px;
}
