@charset "UTF-8";

#listWrapper{
	background-color : white;
	height: 3300px;
	padding-top: 10px;
}

#mostList{
	background-color: #ededed;
	float: left;
	width: 260px;
	margin-right: 5.5px;
}

.mostItem{
	border: 1px solid gray;
	border-radius: 10px;
}

.mostItem div img{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 5px;
}

.mostItem  .mostFace,.mostName,.mostKda,.mostRate{
	vertical-align:middle;
	align-content:center;
	margin-bottom:10px;
	display: inline-block;
/* 	margin-right: 10px; */
}

#mostList b{
	font-size: 12px
}

.smallTxt{
	font-size: 11px;
}

#matchList{
	float: left;
	width: 1000px;
}

#summary{
	margin-bottom : 10px;
	width: 100%;
	height: 200px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

#record{
	display:inline-block;
	width: 350px;
	height: 100%;
/* 	border: 1px solid black; */
	border-radius: 10px;
}

#chart{
	display:inline-block;
	width: 55%;
	height: 100%;
	float: left;
}

#avg{
	display:inline;
	width: 45%;
	height: 100%;
	float:left;
}

#avg div{
	margin-top: 20px;
	margin-bottom: 20px;
}

#most3{
	display:inline-block;
	width: 350px;
	height: 100%;
/* 	border: 1px solid black; */
	padding-top: 10px;
	border-radius: 10px;
}

#most3 ul{
	width: 100%;
	height: 100%;
}

.date{
	font-size: 14px;
}
#most3 li{
	list-style: none;
	width: 100%;
	height: 33%;
}

.champName{
	text-align: left;
}

#most3stats{
	height: 100%;
}

.most3Face{
	float: left;
}

.most3Info{
	float: left;
	width: 80%;
	margin-left: 5px
}


.most3Face img{
	width: 45px;
	height: 45px;
	border-radius: 100px;
	vertical-align: middle;
}

.most3Odds{
	float: left;
}
 .most3KDA{
 	float: right;
}

#gameType{
	text-align: center;
	display: flex;
	border: 1px solid black;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 10px;
}

#gameType a{
	margin-left: auto;
	margin-right: auto;
	
}

.matchItem{
	height: 130px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 10px;
}

.winItem{
	background-color: #a3cfec;
}

.loseItem{
	background-color: #e2b6b3;
}

.matchItem div{
	margin-right: 10px;
}

.matchinfo{
	display:inline-block;
	border: 1px;
	width: 80px;
	height:100%;
	float: left;
	vertical-align: middle;
	border-right: 1px solid black;
}

.mostName{
	width: 60px;
}

.mostKda{
	width: 70px;
}

.mostRate{
	width: 30px
}

.matchinfo div{
	text-align: center;
	height: 30%;
	margin-top: 3px;
}
.matchItem .face {
	padding-top : 12px;
	display:inline-block;
	height: 100%;
	float:left;
/* 	line-height: 100px; */
	position: relative;
}


.name{
	width: 70px;
	height: 10px;
	text-align: center;
	margin-top: 7px;
}


.matchItem .face img{
	width: 70px;
	height: 70px;
	border-radius: 100px;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 5px;
}

.during{
	font-size: 12px;
}

.spells{
	display:inline-block;
	height: 100%;
	float: left;
	padding-top: 10px;
}

.spells img{
	width: 40px;
	height: 40px;
}

.rune{
	display:inline-block;
	height: 100%;
	float: left;
	padding-top: 10px;
}

.rune img{
	width: 40px;
	height: 40px;
}

.kda{
	display:flex;
	width: 100px;
	height: 100%;
	float: left;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	size: 20px;
	flex-wrap: wrap;
}

.multiKill{
	background-color: orange;
	border-radius: 40px;
}

.stats{
	display:inline-block;
	width: 100px;
	height: 100%;
	float: left;
	font-weight: bolder;
	padding-top:10px;
	size: 20px;
}

.stats div{
	text-align: center;
	margin-top: 10px;
}

.items{
	float:left;
	width: 100px;
	height:100%;
}

.items table{
	width: 100%;
	height:100%;
	text-align: center;
}

.items table td{
	border: 3px;
}

.items table td img{
	width: 30px;
	height: 30px;
}

.accessory{
	display:inline-block;
	height: 100%;
	float:left;
	line-height: 100px;
}

.accessory img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.team{
	float: left;
}

.team img{
	width: 20px;
	height: 20px;
}

.friendly,.enemy{
	float: left;
}

.showMore{
	display:inline-block;
	height: 100%;
	float:right;
	width : 50px;
	line-height: 100px;
}

.showMore input{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.summoner a{
	text-decoration:  none;
	color: black;
}

.mine{
	font-weight: bolder;
}

.mine img{
	border-radius: 100px;
}


