<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="gg.hta.lol.vo.MemberVo" alias="member"/>
  	<typeAlias type="gg.hta.lol.vo.CommunityVo" alias="community"/>
  </typeAliases>
  <mappers>
  	<!-- 읽어올 Mapper파일 설정 -->
    <mapper resource="gg/hta/lol/mapper/MemberMapper.xml"/>
    <mapper resource="gg/hta/lol/mapper/ItemMapper.xml"/>
 	<mapper resource="gg/hta/lol/mapper/CommunityMapper.xml"/>
  </mappers>
  
</configuration>