<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="gg.hta.lol.mapper.BattingMapper">
  <insert id="addTeam" parameterType="string">
  insert into battingteaminfo values(tnum_seq.nextval,#{tname})
  </insert>
  <select id="teamlist" resultType="gg.hta.lol.vo.BattingTeamInfoVo">
  select * from battingteaminfo
  </select>
  <insert id="addMatch" parameterType="gg.hta.lol.vo.MatchVo">
  insert into match values(mNum_seq.nextval,to_char(#{mDate},'yyyy/mm/dd'),#{mRate},null,#{tNum1},#{tNum2})
  </insert>
  <select id="teaminfo" resultType="string">
  select tname from battingteaminfo where tnum=#{tnum}
  </select>
  <select id="matchinfo" parameterType="string" resultType="hashmap">
select match.mnum,match.tnum1,match.tnum2,b1.tname b1name,b2.tname b2name,match.mrate,match.mwinlose from match inner join battingteaminfo b1 on match.tnum1=b1.tnum   inner join battingteaminfo b2 on match.tnum2=b2.tnum where to_char(mdate,'yyyy/mm/dd')=#{mdate}
  </select>
  <update id="winupdate" parameterType="gg.hta.lol.vo.MatchVo">
  update match set mwinlose=#{mWinlose} where mnum=#{mNum}
  </update>
  <delete id="battingdeleteTeam" parameterType="int">
  delete battingteaminfo where tnum=#{tnum}
  </delete>
  <insert id="selectTeam" parameterType="gg.hta.lol.vo.BattingLogVo">
MERGE INTO battingLog USING DUAL on (mNum=#{mNum} and username=#{username}) WHEN MATCHED THEN update set choice=#{choice}   WHEN NOT MATCHED THEN   INSERT  values(bNum_seq.nextval, #{mNum}, #{username}, #{choice} )
  </insert>
  <select id="battingchoice" parameterType="gg.hta.lol.vo.BattingLogVo" resultType="gg.hta.lol.vo.BattingLogVo">
  select * from battingLog where mNum=#{mNum} and username=#{username}
  </select>
  <select id="pointGo" parameterType="int" resultType="hashmap">
select username,To_Char(mdate,'yyyy/mm/dd') mdate,mrate from match inner join battinglog on match.mnum=battinglog.mnum where mwinlose=choice and match.mnum=#{mnum}
  </select>
  </mapper>