<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.ChampMapper">
	<insert id="insertChamp" parameterType="gg.hta.lol.vo.ChampionVo">
		insert into champion values(
		#{championid},
		#{name},
		0,
		0,
		0,
		0,
		#{picture},
		#{skillP_icon},
		#{skillP_info},
		#{skillQ_icon},
		#{skillQ_info},
		#{skillW_icon},
		#{skillW_info},
		#{skillE_icon},
		#{skillE_info},
		#{skillR_icon},
		#{skillR_info},
		#{story},
		'null'
		)
	</insert>
	<delete id="deleteChamp" >
	delete  from champion
	</delete>
	<select id="ChampAll_List" resultType="gg.hta.lol.vo.ChampionVo">
   select * from champion   order by name 
	</select>
	<select id="selectList" parameterType="int" resultType="gg.hta.lol.vo.ChampionVo">
	select * from champion where championid=#{championid}
	</select>
</mapper>