<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="gg.hta.lol.mapper.ItemMapper">
  <insert id="item_insert" parameterType="gg.hta.lol.vo.ItemVo">
  insert into item values(#{iNum},#{icon},#{name},#{price},#{effect})
  </insert>
  
  </mapper>
  