<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="gg.hta.lol.mapper.ItemMapper">
  <insert id="item_insert" parameterType="gg.hta.lol.vo.ItemVo">
  <choose>
  <when test="tags!=null">
merge into item using dual on (iNum=#{iNum}) when matched then update set icon=#{icon},name=#{name},price=#{price},effect=#{effect},tags=#{tags}
when not matched then insert values(#{iNum},#{icon},#{name},#{price},#{effect},#{tags})
</when>
<otherwise>
merge into item using dual on (iNum=#{iNum}) when matched then update set icon=#{icon},name=#{name},price=#{price},effect=#{effect},tags='null'
when not matched then insert values(#{iNum},#{icon},#{name},#{price},#{effect},'null')
</otherwise>
</choose>
  </insert>
<select id="item_select" parameterType="int" resultType="gg.hta.lol.vo.ItemVo">
select * from item where inum=#{inum}
</select>
<select id="item_alllist" resultType="gg.hta.lol.vo.ItemVo">
select *  from item
</select>
  </mapper>
  