<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.MatchInfoMapper">
	<insert id="addMatchinfo">
		insert into matchinfo values(#{matchid},#{type},#{runtime},#{startTime})
	</insert>
	
	<select id="getMatchType" parameterType="String" resultType="String">
		select type
		from matchinfo
		where matchid = #{matchid}
	</select>
	
	<select id="getMatchInfoList" resultType="gg.hta.lol.vo.match.MatchListVo">
		select *
		from(
		    select rownum rn, t.*
		    from (
		        SELECT
		        tm.*,
		        c.name,
		        c.picture,
		        m.type,
		        m.runtime,
		        m.starttime,
                winlose
		    FROM
		        teammemberinfo   tm,
                teaminfo         t,
		        matchinfo        m,
		        champion         c
		    WHERE
		        tm.matchid = m.matchid
		        <if test="type!=null">
		        and m.type = #{type}
		        </if>
		        AND tm.championid = c.championid
                and tm.matchid = t.matchid
                and tm.teamid = t.teamid
		        AND tm.snickname = #{snickname}
		    order by tm.matchid desc
		    )t
		)
		<![CDATA[where rn<=20]]>
	</select>
	
	<select id="getParticipants" resultType="gg.hta.lol.vo.match.ParticipantsVo">
		select teamid,matchid,snickname,name,picture,kill,assist,death
		from teammemberinfo tm, champion c
		where tm.championid = c.championid
		and 
		<foreach collection="list" open="matchid in(" close=")" index="index" item="item" separator=",">
			#{item}
		</foreach>
		
	</select>
	
</mapper>