<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.MemberMapper">
	<resultMap type="gg.hta.lol.security.CustomUserDetail" id="userDetail">
		<id property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="enabled" column="enabled"/>
		<collection property="authoList" ofType="gg.hta.lol.vo.AuthoritiesVo">
			<result property="username" column="username"/>
			<result property="authority" column="authority"/>
		</collection>
	</resultMap>
	<select id="getAuths" parameterType="string" resultMap="userDetail">
		select * from member m, authorities a
		where m.username=a.username and m.username=#{username}
	</select>
	<insert id="auth_add" parameterType="gg.hta.lol.vo.AuthoritiesVo">
		insert into authorities values(#{username},#{authority})
	</insert>
	<insert id="code_add" parameterType="gg.hta.lol.vo.AuthVo">
		insert into auth values(#{username},#{code})
	</insert>
	<insert id="insert" parameterType="member">
	   insert into member values(#{username},null,#{password},'1',#{email},sysdate,#{nickname},0)
	</insert>
	<update id="updatePwd" parameterType="hashmap">
		update member
		set password=#{password}
		where username=#{username}
	</update>
	<select id="select" parameterType="string" resultType="member">
		select * from member where username=#{username}
	</select>
	<select id="Emailselect" parameterType="string" resultType="member">
		select * from member where email=#{email}
	</select>
	<delete id="AuthDelete" parameterType="string">
		delete from auth where username = #{username}
	</delete>
	<select id="AuthSelect" parameterType="string" resultType="gg.hta.lol.vo.AuthVo">
		select * from auth where username = #{username}
	</select>
	<update id="AuthUpdate" parameterType="gg.hta.lol.vo.AuthVo">
		update auth
		set code=#{code}
		where username=#{username}
	</update>
	<select id="EmailAuthSelect" parameterType="string" resultType="gg.hta.lol.vo.AuthVo">
		select * from auth 
		where username =  (select username from member where email = #{email})
	</select>
	<select id="PwdEmailselect" parameterType="hashmap" resultType="member">
		select * from member where username=#{username} and email=#{email}
	</select>
	<update id="update" parameterType="member">
		update member
		set nickname=#{nickname}, password=#{password}, email=#{email}
		where username=#{username}
	</update>
	<update id="updateSnickname" parameterType="hashmap">
		update member
		set snickname=#{snickname}
		where username=#{username}
	</update>
	<update id="delete" parameterType="string">
		update member
		set enabled=0
		where username=#{username}
	</update>
	<sql id="search">
		<if test="field != null and field!=''">
			where ${field} like '%'||#{keyword}||'%' and enabled=1
		</if>
		<if test="field == null and field == ''">
			where enabled=1
		</if>
	</sql>
	<select id="count" resultType="int" parameterType="hashmap">
		select NVL(count(*),0) cnt from member
		<include refid="search"/>
	</select>
	<select id="list" resultType="member" parameterType="hashmap">
	 select * from
	 (
	   select a.*,rownum rnum from
	   (
		   select * from member
		   <include refid="search"/>
		   order by regdate desc
	   )a
	 )
	 <![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>	
</mapper>