<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.MessageMapper">
	<insert id="sendMsg" parameterType="hashmap">
		insert into message values(msgNum_seq.nextval, #{sender}, #{receiver}, #{msg}, sysdate, '0')
	</insert>
	<update id="update" parameterType="int">
		update message set open='1' where msgNum = #{msgNum}
	</update>
</mapper>