<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="gg.hta.lol.mapper.PointMapper">
    <insert id="battingInsert" parameterType="gg.hta.lol.vo.PointVo">
    insert into point values(ptNum_seq.nextval,#{username},#{method},#{regdate})
    </insert>
    <update id="memberPointUpdate" parameterType="string">
   update member set point=point+(select sum(score) from point where username=#{username}) where username=#{username})
    </update>
    
    </mapper>