<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.QueueInfoMapper">
	<insert id="addQueueInfo">
		insert into queueinfo values(#{snickname},#{queueType},#{tier},#{leaguePoints},#{win},#{lose})
	</insert>
	
	<select id="getQueueInfo" parameterType="String" resultType="gg.hta.lol.vo.QueueInfoVo">
		select * from queueinfo where snickname = #{snickname}
	</select>
	
	<update id="updateQueueInfo">
		update queueinfo set tier=#{tier},leaguePoints=#{leaguePoints},win=#{win},lose=#{lose}
		where snickname=#{snickname} and  queueType=#{queueType}
	</update>
	
	<select id="getTier" parameterType="hashmap" resultType="String">
		select tier
		from queueinfo
		where queuetype = #{queuetype} and snickname = #{snickname}
	</select>
</mapper>