<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.SummonerMapper">
	<insert id="addSummoner" >
		insert into summoner values(#{snickname},#{slevel},#{icon})
	</insert>
	
	<select id="getSummoner" parameterType="String" resultType="gg.hta.lol.vo.SummonerVo">
		select * from summoner where sNickName =  #{nickname}
	</select>
	
	<update id="updateSummoner">
		update summoner set slevel = #{slevel},icon=#{icon} where snickname = #{snickname}
	</update>
	
	<select id="getSummonerInfo" resultMap="SearchMap">
		select s.snickname,slevel,icon,queuetype,tier,leaguepoints,win,lose
		from summoner s, queueinfo q
		where s.snickname = q.snickname
		and s.snickname = #{name}
	</select>
	
	<resultMap type="gg.hta.lol.vo.match.SearchVo" id="SearchMap">
		<result property="snickname" column="SNICKNAME"/>
		<result property="slevel" column="SLEVEL"/>
		<result property="icon" column="ICON"/>
		<collection property="qiList" resultMap="queueInfoMap">
		</collection>
	</resultMap>
	
	<resultMap type="gg.hta.lol.vo.QueueInfoVo" id="queueInfoMap">
		<result property="queueType" column="QUEUETYPE"/>
		<result property="tier" column="TIER"/>
		<result property="win" column="WIN"/>
		<result property="lose" column="LOSE"/>
		<result property="leaguePoints" column="leaguePoints"/>
	</resultMap>
	 
	<select id="getMostChamp" resultType="gg.hta.lol.vo.match.MostChampVo">
		select picture,name,"kill","death","assist","cs",cnt,wincnt
		from(
		select rownum rn, m.picture,m.name,m."kill",m."death",m."assist",m."cs",m.cnt,co.wincnt
		from view_mostchampion m, view_summon_champ_odds co
		where m.snickname = co.snickname
		and m.name = co.name
		and m.snickname=#{sname}
		order by cnt desc
		)
		<![CDATA[where rn<=5]]>
	</select>

	
</mapper>