<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.SummonerMapper">
	<insert id="addSummoner">
		insert into summoner values(#{snickname},#{slevel},#{icon})
	</insert>
	<select id="getSummoner" parameterType="String" resultType="gg.hta.lol.vo.SummonerVo">
		select * from summoner where sNickName =  #{nickname}
	</select>
</mapper>