<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gg.hta.lol.mapper.TeamMemberInfoMapper">
	<insert id="addTeamMemberInfo">
		insert into teammemberinfo values(
			tmnum_seq.nextval,
			#{snickname},
			#{teamId},
			#{matchId},
			#{championId},
			#{kill},
			#{death},
			#{assist},
			#{championLevel},
			#{spell1},
			#{spell2},
			#{rune1},
			#{rune2},
			#{championDamage},
			#{takenDamage},
			#{cs},
			#{wardInstall},
			#{wardRemove},
			#{gold},
			<choose>
				<when test="item1==0 or item1>6695">
					null
				</when>
				<otherwise>
					#{item1}
				</otherwise>
			</choose>
			,
			<choose>
				<when test="item2==0 or item2>6695">
					null
				</when>
				<otherwise>
					#{item2}
				</otherwise>
			</choose>
			,
			<choose>
				<when test="item3==0 or item3>6695">
					null
				</when>
				<otherwise>
					#{item3}
				</otherwise>
			</choose>
			,
			<choose>
				<when test="item4==0 or item4>6695">
					null
				</when>
				<otherwise>
					#{item4}
				</otherwise>
			</choose>
			,
			<choose>
				<when test="item5==0 or item5>6695">
					null
				</when>
				<otherwise>
					#{item5}
				</otherwise>
			</choose>
			,
			<choose>
				<when test="item6==0 or item6>=6695">
					null
				</when>
				<otherwise>
					#{item6}
				</otherwise>
			</choose>
			,
			#{accessory},
			#{multiKill}
		)
	</insert>
</mapper>